<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout|uiMode"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- "Open with" for CAD files.  Android has no registered media type for
                 STL or STEP, so file managers hand them over as one of several
                 vendor types or simply as a binary stream; all of them are listed. -->
            <intent-filter android:label="@string/open_with">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="model/stl" />
                <data android:mimeType="application/sla" />
                <data android:mimeType="application/vnd.ms-pki.stl" />
                <data android:mimeType="application/x-navistyle" />
                <data android:mimeType="model/step" />
                <data android:mimeType="model/step+zip" />
                <data android:mimeType="application/step" />
                <data android:mimeType="application/p21" />
                <data android:mimeType="image/vnd.dxf" />
                <data android:mimeType="application/dxf" />
                <data android:mimeType="application/x-dxf" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <!-- File managers that only pass a path and no useful media type. -->
            <intent-filter android:label="@string/open_with">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.stl" />
                <data android:pathPattern=".*\\..*\\.stl" />
                <data android:pathPattern=".*\\.STL" />
                <data android:pathPattern=".*\\.step" />
                <data android:pathPattern=".*\\..*\\.step" />
                <data android:pathPattern=".*\\.stp" />
                <data android:pathPattern=".*\\..*\\.stp" />
                <data android:pathPattern=".*\\.STEP" />
                <data android:pathPattern=".*\\.STP" />
                <data android:pathPattern=".*\\.dxf" />
                <data android:pathPattern=".*\\..*\\.dxf" />
                <data android:pathPattern=".*\\.DXF" />
            </intent-filter>

            <!-- Sharing a file into the app. -->
            <intent-filter android:label="@string/open_with">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
